body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background: #d9c596;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

@media screen and (max-width: 1100px){
 body{background: #c7d09e;}
}

@media screen and (max-width: 320px){
  body{background: #e8c5c5;}
}

/* TODO: size images manually so this is not necessary */
a{
  text-decoration: none;
}

/***************** NAV *****************/
nav{
  width: 100%;
  background-color: dodgerblue;
  height: 2rem;
}

nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  line-height: 2rem;
  color: white;
}

nav ul li a{
  color: white;
}
nav a:hover {
  text-decoration: underline;
}

/**************** LOGO *****************/
header img {
  float: left;
}

h1 .logo-w {
  font-size: 3.5rem;
  color: dodgerblue;
}

/**************** Sign up mailing list ****************/
input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

aside{
  clear: both;
}

/*********** PRODUCTS SECTION ***********/
section {
  padding: 0 .75rem;
  clear: both;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pic{
  max-width: 15rem;
  max-height: 15rem;
}

.module{
  max-width: 20rem;
  text-align: center;
}





